# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-n4-on5fsw(1_lzj6ucp5@ltu^m0sko&#+iewemcwoa95)+oyq&
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL Database Configuration (XAMPP)
DB_NAME=bloodbank
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
